[user]
	email = 114780801+Shugarry@users.noreply.github.com
	name = shugarry
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
